@charset "utf-8";
/* CSS Document */

/*==========GLOBAL==========*/

html, body, select, input, button {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
}
html, .steps-anchor, nav, nav ul, .veh-count-contain {
	width: 100%;
}
html {
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(top, #f0f0f0 0%, #dadada 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #dadada)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0f0f0 0%, #dadada 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0f0f0 0%, #dadada 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f0f0f0 0%, #dadada 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f0f0f0 0%, #dadada 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dadada', GradientType=0 ); /* IE6-9 */
	background-attachment: fixed;
	margin-left: 0; /*disables horizontal scroll bar from adding borders on the menu*/
	min-width: 820;
}
.logo-bar {
	background-color: none;
	z-index: 101;
	height: 30px;
}
body, #body-content {
	margin: 0;
}
#body-margin { /*for pages with secondary body area*/
	margin: 50px;
	padding-bottom: 10px;
}
.body-margin2 {
	background: #ffffff;
	border: 1px solid #999;
	padding: 30px;
}
	
a:link, a:visited, a:hover {
	text-decoration: none;
}
img { /*for IE*/
	border: 0px;
}
select {
	border: 1px solid #666;
	border-radius: 4px;
	padding: 2px 4px 2px 10px;
	width: 200px;
}
/*=====STEPS FOR UPLOAD=====*/
/*.steps-anchor {
	text-align: center;
	height: 60px;
	margin-top: 30px;
	min-width: 820px;
}*/
.steps-anchor {
	background: #D4D4D4;
	border: 1px solid #999;
	text-align: center;
	min-width: 800px;
	height: 30px;
	z-index: 1;
	position: absolute;
	width: 800px;
	right: 50px;
	margin-top: 19px;
	
}
.steps-boxes, .steps-boxes-highlighted {
	border: none;
	padding: 0px;
	width: 150px;
	color: #B2B2B2;
	display: inline-block;
}
.steps-boxes-highlighted {
	color: #000;
}
.large-f { /*for large numbers on the steps*/
	font-size: 1.5em;
	padding: 0px 8px 0px 0px;
}
/*===========NAV===========*/
nav {
	z-index: 100;
	height: 30px;
}
nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
}
nav ul {
	background: #828282; /* Old browsers */
	background: -moz-linear-gradient(top, #828282 0%, #5c5c5c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #828282), color-stop(100%, #5c5c5c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #828282 0%, #5c5c5c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #828282 0%, #5c5c5c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #828282 0%, #5c5c5c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #828282 0%, #5c5c5c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#5c5c5c', GradientType=0 ); /* IE6-9 */
	box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	padding: 0px 0px;
	list-style: none;
	position: relative; /*makes dropdown child links relative to the parent */
	display: inline-table;
	font-size: .9em;
	border-top: #000 1px solid;
	border-bottom: #000 1px solid;
	margin-top: 0px; /* sticks the toolbar background to the top of the page */
	line-height: 30px; /* necessary to keep first level text the same size in the toolbar */
	z-index: 100;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}
nav ul li {
	float: left;
}
nav ul li:hover {
	background: #c7c7c7;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}
nav ul li:hover a {
	color: #fff;
}
nav ul li a {
	display: block;
	padding: 0px 30px 0px 30px;
	color: #fff;
	text-decoration: none;
	border-right: #000 1px solid;
}
nav ul ul {
	background: #5f6975;
	position: absolute;
	width: 170px;
	margin-left: -1px;
}
nav ul ul li {
	float: none;
	background: #5f6975;
	border-left: 1px solid #000;
}
nav ul ul li a {
	padding: 0px 30px 0px 30px;
	color: #fff;
}
nav ul ul li a:hover {
	background: #4b545f;
}
nav ul ul ul {
	position: absolute;
	left: 100%;
	top:0px;
}
/*============TOOLBAR===========*/
#reloadpos, #helpicon {
	z-index: 101;
	right: 100px;
	position: absolute;
	top: 6px;
	float: left;
	height: 0px;
}
#helpicon {
	right: 48px;
}
.helpbar {
	margin-top: 0px;
	background-color: #F4F4F4;
	line-height: 2em;
	border-bottom: 1px solid #000;
	padding: 0px 45px 0px 30px;
	overflow: auto;
	box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
}
#helptextclick {
	text-align: center;
	width: 90%;
	color: #999;
}
#helptextclick2 { /* secondary toggle for helptext slideout */
	text-align: right;
	width: 100%;
	color: #999;
	padding-bottom: 30px;
}
#helptext {
	display: none;
	clear: both;
}
/*============Buttons=============*/
.continueclick, .continueclick2, .addbutton, .generalbutton, .leftbuttonclick {
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top, #999999 0%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #999999 0%, #666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #999999 0%, #666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #999999 0%, #666666 100%); /* IE10+ */
	background: linear-gradient(to bottom, #999999 0%, #666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#666666', GradientType=0 ); /* IE6-9 */
	color: #FDFDFD;
	border: 1px solid #000000;
}
.continueclick { /*for pages with content within content */
	right: 0px;
	padding: 5px 20px 5px 20px;
	text-align: center;
	position: absolute;
	margin: 10px 0px 100px 0px;
	border-radius: 4px;
}
.continueclick2 { /*for pages with only 1 content*/
	right: 0px;
	padding: 5px 20px 5px 20px;
	text-align: center;
	position: absolute;
	margin: 10px 50px 100px 0px;
	border-radius: 4px;
}
a.continueclick:link, a.continueclick:visited, a.continueclick:active, a.leftbuttonclick:link, a.leftbuttonclick:visited, a.leftbuttonclick:active, a.addbutton:link, a.addbutton:visited, a.addbutton:active {
	text-decoration: none;
	color: #FDFDFD;
}
.continueclick:hover, .continueclick2:hover, .leftbuttonclick:hover, .addbutton:hover, .generalbutton:hover {
 	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top, #666666 0%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #666666 0%, #999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #666666 0%, #999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #666666 0%, #999999 100%); /* IE10+ */
	background: linear-gradient(to bottom, #666666 0%, #999999 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#999999', GradientType=0 ); /* IE6-9 */
}
.leftbuttonclick {
	padding: 5px 20px 5px 20px;
	text-align: center;
	position: absolute;
	margin: 10px 0px 100px 0px;
	border-radius: 4px;
}
.addbutton {
	padding: 3px 10px 3px 10px;
	border-radius: 2px;
	line-height: 3em;
	margin-left: 10px;
}
.generalbutton, input, button {
	padding: 3px 10px 3px 10px;
	border-radius: 2px;
	line-height: 1.4em;
	vertical-align: middle;
}
.marginbutton-left {
	float: left;
}
.marginbutton-right {
	float: right;
}
.uploadwrap {
	display: none;
}
/*============jQuery Overrides=============*/

.ui-menu { /*size of the custom menu browser */
	width: 230px;
}
.ui-widget-content-white {
	border: 1px solid #aaaaaa/*{borderColorContent}*/;
	background: #fff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
	color: #fff/*{fcContent}*/;
}
.ui-widget-content-veh-acc {
	border: 0px solid #aaaaaa/*{borderColorContent}*/;
	background: #e9e9e9/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
	color: #222222/*{fcContent}*/;
}
.ui-widget-content-veh-acc {
	border-bottom: 0px solid #999;
	border-right: 0px solid #999;
	border-left: 0px solid #999;
	margin-right: 0px;
	margin-left: 0px;
}
.ui-state-active-veh-acc {
	background: none;
	border: 0px solid #000;
}
.ui-accordion, .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
}
/*============OTHER=============*/

.menubrowse { /* fixes the browsing menus (categories/filters)*/
	position: absolute;
	left: 500px;
}
.catb {
	padding: 0px 0px 10px 0px;
}
.assigncategories-edit, .assignfilters-sort { /* fixes the browsing menus (categories/filters)*/
	width: 400px;
	position: absolute;
	background: #fff;
	padding: 10px;
	margin: 0px;
	border-radius: 4px;
	border: 1px solid #999;
	z-index: 50;
}
.highlightblock:hover {
	/*background: #F3F3F3;*/
	background: #F9F9F9;
}
.optionsc {
	padding: 0px 10px 12px 0px;
	width: 200px;
	float: left;
}
#notes { /*additional notes in export*/
	clear: both;
}
.veh-count {  /*vehical compatibility*/
	background: rgb(242,245,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
	border: 1px solid #666;
	display: inline-block;
	margin: 5px;
	vertical-align: top;
	padding: 10px;
}

.veh-count-ebay {  /*vehical compatibility*/
	background: rgb(135,224,253); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
	border: 1px solid #999;
	display: inline-block;
	margin: 5px;
	vertical-align: middle;
	padding: 10px;
}
.veh-color-block:hover {
	background: #FFDB88;
}
.veh-color-block {
	height: 72px;
	display: inline-block;
}
.modelc {
	font-weight: bold;
	vertical-align: top;
	padding: 0px 40px 0px 40px;
	display: inline-block;
}

.modeln {
	font-weight: bold;
	vertical-align: top;
	width: 150px;
	display: inline-block;
}
.currentyear {
	display: inline-block;
	width: 200px;
	margin-left: 30px;
	background: #fff;
	padding: 5px;
	font-size: .8em;
}
.newyears {
	background: #F4F4F4;
	display: inline-block;
	padding: 5px;
	width: 200px;
	font-size: .8em;
}
.spacer {
	padding-right: 10px;
	vertical-align: middle;
}
.spacer2 {
	height: 100px;
	width: 100px;
	vertical-align: middle;
	background-image: url(images/arrow-veh.png);
	background-repeat: no-repeat;
	background-size: 1.6em;
	z-index: 1;
	margin: 10px;
}
.assignfilters-lines {
	line-height: 2em;
	list-style-type: none;
	padding-left: 10px;
}
.assignfilters-lines:hover {
	background: #F0F0F0;
	width: 50%;
}
.upload-isis-sku-line:hover {
	background: #F4F4F4;
	width: 500px;
}
.upload-isis-sku-name {
	display: inline-block;
	width: 150px;
	line-height: 1.5em;
	font-family: monospace;
}
.upload-isis-sku-dne {
	display: inline-block;
	width: 300px;
}
.assigncategories-name {
	width: 160px;
	display: inline-block;
	line-height: 3em;
}
#filefield {
	display: inline;
}
.red {
	color: #F00;
}
.ebay-img {
	position: absolute;
	left: 532px;
	height: 30px;
}